USE [master]
GO
/****** Object:  Database [MChoiceManagement]    Script Date: 5/24/2023 8:34:36 PM ******/
CREATE DATABASE [MChoiceManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MChoiceManagement', FILENAME = N'C:\SqlSv\dbSv\MSSQL16.MSSQLSERVER\MSSQL\DATA\MChoiceManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MChoiceManagement_log', FILENAME = N'C:\SqlSv\dbSv\MSSQL16.MSSQLSERVER\MSSQL\DATA\MChoiceManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MChoiceManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MChoiceManagement]
GO
/****** Object:  Table [dbo].[ANSWER_INFO]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RESULT] [int] NULL,
	[ID_QUIZZ] [int] NULL,
	[AN] [nvarchar](200) NULL,
 CONSTRAINT [PK_ANIF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAPTER]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAPTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CHAPTER] [nvarchar](50) NOT NULL,
	[ID_SB] [int] NULL,
 CONSTRAINT [PK_CHAPTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CLASS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAM]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SB] [int] NOT NULL,
	[CHECKED] [bit] NULL,
 CONSTRAINT [PK_EXAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST_QUIZZES]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST_QUIZZES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EXAM] [int] NULL,
	[ID_QUIZZ] [int] NULL,
 CONSTRAINT [PK_LSQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST_SUBJECT]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST_SUBJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLASS] [int] NULL,
	[ID_SUBJECT] [int] NULL,
 CONSTRAINT [PK_LSSB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUIZZ]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZZ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT] [nvarchar](200) NOT NULL,
	[AN_A] [nvarchar](200) NOT NULL,
	[AN_B] [nvarchar](200) NOT NULL,
	[AN_C] [nvarchar](200) NOT NULL,
	[AN_D] [nvarchar](200) NOT NULL,
	[CORRECT_AN] [nvarchar](200) NULL,
	[ID_CHAPTER] [int] NULL,
 CONSTRAINT [PK_QUIZZ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EXAM] [int] NULL,
	[ID_STUDENT] [int] NULL,
	[SCORE] [float] NULL,
 CONSTRAINT [PK_RESULT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SB]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SB] [nvarchar](50) NOT NULL,
	[NOTE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](20) NOT NULL,
	[GENDER] [nchar](10) NOT NULL,
	[PHONE_CONTACT] [char](10) NULL,
	[ID_CLASS] [int] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ADMIN]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS_WORD] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_USAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STUDENT]    Script Date: 5/24/2023 8:34:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STUDENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS_WORD] [nvarchar](20) NOT NULL,
	[ID_STUDENT] [int] NULL,
	[ID_CLASS] [int] NULL,
 CONSTRAINT [PK_USST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USER_ADMIN] ON 

INSERT [dbo].[USER_ADMIN] ([ID], [USERNAME], [PASS_WORD]) VALUES (5, N'admin', N'123')
INSERT [dbo].[USER_ADMIN] ([ID], [USERNAME], [PASS_WORD]) VALUES (6, N'admin2', N'123')
SET IDENTITY_INSERT [dbo].[USER_ADMIN] OFF
GO
/****** Object:  Index [UQ_ANIF_QUIZZ_RS]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[ANSWER_INFO] ADD  CONSTRAINT [UQ_ANIF_QUIZZ_RS] UNIQUE NONCLUSTERED 
(
	[ID_QUIZZ] ASC,
	[ID_RESULT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHAPTER__228405EA97633B74]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[CHAPTER] ADD UNIQUE NONCLUSTERED 
(
	[NAME_CHAPTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLASS__4A345CA35938FFA1]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[CLASS] ADD UNIQUE NONCLUSTERED 
(
	[NAME_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LSQ_EX_QUIZZ]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[LIST_QUIZZES] ADD  CONSTRAINT [UQ_LSQ_EX_QUIZZ] UNIQUE NONCLUSTERED 
(
	[ID_EXAM] ASC,
	[ID_QUIZZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_LSSB_CLASS_SUBJECT]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[LIST_SUBJECT] ADD  CONSTRAINT [UQ_LSSB_CLASS_SUBJECT] UNIQUE NONCLUSTERED 
(
	[ID_CLASS] ASC,
	[ID_SUBJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RS_ST_EX]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[RESULT] ADD  CONSTRAINT [UQ_RS_ST_EX] UNIQUE NONCLUSTERED 
(
	[ID_STUDENT] ASC,
	[ID_EXAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SB__703356FA8A83D778]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[SB] ADD UNIQUE NONCLUSTERED 
(
	[NAME_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_ADM__B15BE12E9E11E27B]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[USER_ADMIN] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_STU__B15BE12E661B211F]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[USER_STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_USST_USPW]    Script Date: 5/24/2023 8:34:37 PM ******/
ALTER TABLE [dbo].[USER_STUDENT] ADD  CONSTRAINT [UQ_USST_USPW] UNIQUE NONCLUSTERED 
(
	[ID_STUDENT] ASC,
	[ID_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EXAM] ADD  DEFAULT ((0)) FOR [CHECKED]
GO
ALTER TABLE [dbo].[ANSWER_INFO]  WITH CHECK ADD  CONSTRAINT [FK_ANIF_QUIZZ] FOREIGN KEY([ID_QUIZZ])
REFERENCES [dbo].[QUIZZ] ([ID])
GO
ALTER TABLE [dbo].[ANSWER_INFO] CHECK CONSTRAINT [FK_ANIF_QUIZZ]
GO
ALTER TABLE [dbo].[ANSWER_INFO]  WITH CHECK ADD  CONSTRAINT [FK_ANIF_RS] FOREIGN KEY([ID_RESULT])
REFERENCES [dbo].[RESULT] ([ID])
GO
ALTER TABLE [dbo].[ANSWER_INFO] CHECK CONSTRAINT [FK_ANIF_RS]
GO
ALTER TABLE [dbo].[CHAPTER]  WITH CHECK ADD  CONSTRAINT [FK_ID_SB] FOREIGN KEY([ID_SB])
REFERENCES [dbo].[SB] ([ID])
GO
ALTER TABLE [dbo].[CHAPTER] CHECK CONSTRAINT [FK_ID_SB]
GO
ALTER TABLE [dbo].[EXAM]  WITH CHECK ADD  CONSTRAINT [FK_EX_SB] FOREIGN KEY([ID_SB])
REFERENCES [dbo].[SB] ([ID])
GO
ALTER TABLE [dbo].[EXAM] CHECK CONSTRAINT [FK_EX_SB]
GO
ALTER TABLE [dbo].[LIST_QUIZZES]  WITH CHECK ADD  CONSTRAINT [FK_LSQ_EX] FOREIGN KEY([ID_EXAM])
REFERENCES [dbo].[EXAM] ([ID])
GO
ALTER TABLE [dbo].[LIST_QUIZZES] CHECK CONSTRAINT [FK_LSQ_EX]
GO
ALTER TABLE [dbo].[LIST_QUIZZES]  WITH CHECK ADD  CONSTRAINT [FK_LSQ_QUIZZ] FOREIGN KEY([ID_QUIZZ])
REFERENCES [dbo].[QUIZZ] ([ID])
GO
ALTER TABLE [dbo].[LIST_QUIZZES] CHECK CONSTRAINT [FK_LSQ_QUIZZ]
GO
ALTER TABLE [dbo].[LIST_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_LSSB_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[LIST_SUBJECT] CHECK CONSTRAINT [FK_LSSB_CLASS]
GO
ALTER TABLE [dbo].[LIST_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_LSSB_SB] FOREIGN KEY([ID_SUBJECT])
REFERENCES [dbo].[SB] ([ID])
GO
ALTER TABLE [dbo].[LIST_SUBJECT] CHECK CONSTRAINT [FK_LSSB_SB]
GO
ALTER TABLE [dbo].[QUIZZ]  WITH CHECK ADD  CONSTRAINT [FK_ID_CHAPTER] FOREIGN KEY([ID_CHAPTER])
REFERENCES [dbo].[CHAPTER] ([ID])
GO
ALTER TABLE [dbo].[QUIZZ] CHECK CONSTRAINT [FK_ID_CHAPTER]
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD  CONSTRAINT [FK_RS_EX] FOREIGN KEY([ID_EXAM])
REFERENCES [dbo].[EXAM] ([ID])
GO
ALTER TABLE [dbo].[RESULT] CHECK CONSTRAINT [FK_RS_EX]
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD  CONSTRAINT [FK_RS_ST] FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[RESULT] CHECK CONSTRAINT [FK_RS_ST]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_ST_CLASS] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_ST_CLASS]
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_USID_CL] FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[USER_STUDENT] CHECK CONSTRAINT [FK_USID_CL]
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_USID_ST] FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[USER_STUDENT] CHECK CONSTRAINT [FK_USID_ST]
GO
/****** Object:  StoredProcedure [dbo].[ADDQUIZZ]    Script Date: 5/24/2023 8:34:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ADDQUIZZ] 
@idExam int,@content nvarchar(200),@anA nvarchar(200),@anB nvarchar(200),@anC nvarchar(200),@anD nvarchar(200),@correcrAn nvarchar(200),@idChapter int
as begin 
DECLARE @QUIZZ_ID int;
insert into QUIZZ values(@content,@anA,@anB,@anC,@anD,@correcrAn,@idChapter);
SET @QUIZZ_ID = SCOPE_IDENTITY();
insert into LIST_QUIZZES values (@idExam,@QUIZZ_ID);
end
GO
USE [master]
GO
